@model Kutse_App.Models.Guest

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <p> Sisesta nimi: @Html.TextBoxFor(x => x.Name)</p>
    <p> Sisesta email: @Html.TextBoxFor(x => x.Email)</p>
    <p> Sisesta tel: @Html.TextBoxFor(x => x.Phone)</p>
    <p>
        Sinu valik:
        @Html.DropDownListFor(x => x.WillAttend,
       new[]
       {
           new SelectListItem() {Text="Tule kindlasti!", Value=bool.TrueString},
           new SelectListItem() {Text="Kahjuks ei saa tulla!", Value=bool.FalseString}
       }, "Vali siit")
    </p>

    <input type="submit" value="Saada vastus" />
}

<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        text-shadow: 0 0 10px white;
        text-align: center;
        display: inline-block;
    }

    li {
        display: inline-block;
    }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 20px 76px;
            text-decoration: none;
            font-size: 18px;
        }

            li a:hover:not(.active) {
                background-color: #111;
            }

    body {
        text-align: center; /* Centrirovanie */
        background-color: black;
        color: white; /* cvet */
    }

    h1 {
        text-shadow: 0 0 10px white; /* glow whitee */
        font-size: 4em;
        background-color: black;
    }

    h2 {
        text-shadow: 0 0 10px white; /* glow whitee */
        font-size: 2.5em;
    }


    footer {
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        color: white;
        padding: 10px;
    }
</style>